<div class="content">
  <div class="categories">
    <ul *ngFor="let paragraph of paragraphs" (click)="onParagraphClick(paragraph)" class="category">
      <li class="categoryItem">
        {{ paragraph }}
      </li>
    </ul>
  </div>

  <div [ngSwitch]="selectedContent">
    <ng-template ngSwitchCase="Nissan Tidal">
      <div class="text">
        Прототип модели под названием Nissan C-Note был представлен в октябре 2003 года на Токийском автосалоне[2].
        Продажи серийной пятидверной модели в Японии стартовали в сентябре 2004 года[1]. В октябре за ней последовал седан,
        получивший на местном рынке имя Tiida Latio [3]. Тюнинг-ателье Autech, принадлежащее Nissan,
        выпустило несколько специальных версий автомобиля: тюнингованная Autech Tiida Axis[4][5],
        автомобили для людей с ограниченными возможностями[6] и версия седана Tiida Latio для автошкол[7].
        Модель прошла два обновления: более крупное в 2008 году[8] и небольшое в 2010 году[9].
        С апреля 2005 года началось производство модели в Китае на заводе фирмы Dongfeng.
        Седан здесь получил название Nissan Yida[10], а хэтчбек — Nissan Qida
        (использовались параллельно с официальным)[11]. С июня 2006 года Tiida стал доступен на Тайване[12], где выпускался до 2018 года[13].
        В Китае и Тайване модель проходила несколько обновлений, а также получала несколько специальных версий. Производство было налажено и в Таиланде[14],
        откуда модель с 2006 года экспортировалась в Малайзию, Сингапур[15] и Австралию[16]. В Малайзии и Сингапуре автомобиль носил название Nissan Latio[17].
      </div>
    </ng-template>
    <ng-template ngSwitchCase="Mercedes-Benz">
      <div class="text">
        Mercedes-Benz ([mɛʁˈtseːdəs ˈbɛnts] или [-dɛs-][2][3]; рус. Мерсе́дес-Бенц[4]) — торговая марка и
        одноимённая компания — производитель легковых автомобилей премиального класса, грузовых автомобилей,
        автобусов и других транспортных средств, входящая в состав немецкого концерна «Mercedes-Benz Group».
        Является одним из самых узнаваемых автомобильных брендов во всём мире[5]. Штаб-квартира Mercedes-Benz
        находится в Штутгарте, Баден-Вюртемберг, Германия.
        Наименование торговой марки было принято в 1926 году[6] в результате слияния двух конкурирующих фирм,
        Benz & Cie. (основана Карлом Бенцем) и Daimler-Motoren-Gesellschaft (основана Готлибом Даймлером), в единый
        концерн — Daimler-Benz. Название бренда образовано от двух наиболее значимых автомобилей объединённых компаний
        — Mercedes 1901 года и Benz Patent-Motorwagen 1886 года.
        В 2018 году бренд Mercedes-Benz оценивался в 48,601 млрд долларов, удерживая второе место (после Toyota) среди
        компаний-производителей автомобилей и восьмое место среди всех брендов мира[5]. По оценке BrandZ, в 2018 году
        марка входила в список Top 100 Most Valuable Global Brands, где занимала 46 место среди наиболее дорогих брендов
        со стоимостью в 25,684 млрд долларов[7]. В 2019 году бренд Mercedes-Benz оценивался в 60,355 млрд долларов, тем
        самым занимая первое место в рейтинге компаний-производителей автомобилей[8].
        В январе 2023 года бренд Mercedes-Benz по оценке Brand Finance среди автобрендов занял второе место, оцениваясь
        в 58,8 млрд долларов, уступив первое место бренду Tesla.[9]
      </div>
    </ng-template>
    <ng-template ngSwitchCase="BMW">
      <div class="text">
        В 2021 году группа BMW выпустила 2,52 млн автомобилей (включая совместные предприятия, на которые пришлось 650 тыс. автомобилей);
        основным брендом является BMW (2,21 млн штук), далее следуют MINI (302 тыс.) и Rolls-Royce (6 тыс.).
        Мотоциклов за то же год было произведено 194 тысячи[2].
        Производственные мощности группы насчитывают 31 завод:
        собственные заводы — 8 в Германии, 4 в Великобритании, 2 в Бразилии, по одному в Австрии, Мексике, США, Индии, Таиланде и ЮАР;
        BMW Brilliance Automotive (совместное предприятие, 75 %) — 3 завода в городе Шэньян (Китай);
        заводы партнёров — по одному в Австрии, Нидерландах, России (Калининград, «Автотор»), Китае, Индии, Индонезии, Египте и Малайзии.
        Крупнейшие заводы находятся в Спартанберге (США, 434 тыс. автомобилей в год), Дадуне (район Шэньяна, КНР, 365 тыс.), Теси
        (район Шэньяна, КНР, 335 тыс.), Дингольфинге (Германия, 245 тыс.), Лейпциге (Германия, 192 тыс.), Оксфорде (Великобритания, 187 тыс.),
        Регенсбурге (Германия, 183 тыс.), Мюнхене (Германия, 151 тыс.), Борне (Нидерланды, завод компании VDL Nedcar, 105 тыс.)[2].
        На производство 1 автомобиля затрачивается 2,1 МВт-часов энергии, при этом выделяется 330 кг углекислого газ (не считая комплектующие
        сторонних производителей)[2].
        Группе BMW принадлежат научно-исследовательские центры в 13 странах: Германия (5), США (5), Китай (4), Япония, Сингапур, ЮАР,
        Бразилия, Израиль, Республика Корея, Австрия, Франция, Португалия и Великобритания[2].
        Группа имеет большую дилерскую сеть: 3500 дилеров BMW, 1600 — MINI, 150 — Rolls-Royce, 1200 — мотоциклы. Кроме этого, имеется
        41 торговое представительство. Основными рынками сбыта являются Китай (23 % выручки), США (19 %), Германия (13 %), Великобритания
        (7 %), а также Италия, Франция и Республика Корея (по 3 %)[2].
        Подразделения по состоянию на 2021 год[2]:
      </div>
    </ng-template>
    <ng-template ngSwitchCase="Audi">
      <div class="text">
        Empty...
      </div>
    </ng-template>
  </div>
</div>

