<div class="container">
  <nav class="routes">
    <a class="routeBtn" routerLink="/" routerLinkActive="active one">First</a>
    <a class="routeBtn" routerLink="/second" routerLinkActive="active two">Second</a>
    <a class="routeBtn" routerLink="/third" routerLinkActive="active three">Third</a>
    <a class="routeBtn" routerLink="/fourth" routerLinkActive="active four">Fourth</a>
    <a class="routeBtn" routerLink="/five" routerLinkActive="active five">Five</a>
  </nav>
  <hr style="width:98%"/>
  <router-outlet></router-outlet>
</div>
