<div class="content">
  <div class="checkboxes">
    <label class="checkbox">
      <input type="radio" class="checkbox" name="color" value="blue" (click)="boxColor = 'blue'">
      <input type="radio" class="checkbox" name="color" value="red" (click)="boxColor = 'red'">
      <input type="radio" class="checkbox" name="color" value="gold" (click)="boxColor = 'yellow'">
    </label>
  </div>

  <span class="text" [ngStyle]="{
    backgroundColor: boxColor,
  }">
    Google LLC — американская транснациональная корпорация в составе холдинга Alphabet, инвестирующая
    в интернет-поиск, облачные вычисления и рекламные технологии.
    Google поддерживает и разрабатывает ряд интернет-сервисов и продуктов
    (см.: Список сервисов и инструментов Google) и получает прибыль в первую очередь от
    рекламы через свою программу Ads[10]. Она считается одной из технологических компаний
    «большой четверки» наряду с Amazon, Meta, Apple и Microsoft[11][12][13].
    Компания основана Ларри Пейджем и Сергеем Брином. Впервые она была зарегистрирована как
    частная компания 4 января 1996 года, а 19 августа 2004 года начала продажу своих акций
    на фондовом рынке[14]. Тогда Ларри Пейдж, Сергей Брин и Эрик Шмидт договорились о
    совместной работе в Google в течение двадцати лет, до 2024 года[15]. Заявленной миссией
    компании с самого начала была «организация мировой информации, обеспечение её доступности
    и пользы для всех»[16], а неофициальный лозунг компании, придуманный инженером Google Полом
    Бакхейтом, — «Не будь злом» (англ. Don’t be evil)[17][18]. В 2003 году компания переехала
    в свою нынешнюю штаб-квартиру в Маунтин-Вью (штат Калифорния). 15 октября 2016 года компания
    была реорганизована в международный конгломерат Alphabet Inc.
    Google управляет более чем миллионом серверов в центрах обработки
    данных по всему миру[19], ежедневно обрабатывает более миллиарда поисковых
    запросов[20] и 24 петабайт пользовательских данных[21][22][23]. Быстрый рост Google
    с момента её основания привёл к появлению большого числа продуктов, не связанных непосредственно
    с главным продуктом компании — поисковой системой. У Google есть такие онлайн-продукты как почтовый
    сервис Gmail, социальная сеть Google+ (закрыт 2 апреля 2019 года). У компании есть и настольные продукты,
    такие как браузер Google Chrome, программа для работы с фотографиями Picasa (закрыта с 1 мая 2016 года,
    на смену пришел сервис Google Фото) и программа мгновенного обмена сообщениями Hangouts. Кроме того,
    Google ведёт разработку мобильной операционной системы Android, используемой на большом количестве смартфонов,
    а также операционной системы Google Chrome OS и устройства Google Glass.
  </span>
</div>
