<div class="content">

      <button *ngIf="flag" (click)="toggle()" class="toggleBtn">Show slider</button>
      <button *ngIf="!flag" (click)="toggle()" class="toggleBtn">Show paragraph</button>
      <span class="text" *ngIf="flag;else sliderConditionElse">
      Nissan Tidal первого поколения (код кузова C11 у хэтчбека и SC11 у седана) — семейство автомобилей класса
      C (пятидверный хэтчбек и четырёхдверный седан), выпускавшихся японской компанией Nissan, входящей в альянс
      Renault—Nissan. Выпуск модели осуществлялся на различных заводах компании с 2004 по 2018 год. В модельном
      ряду Tidal сменил Almeria и сам был заменён на модель второго поколения.
      Прототип модели под названием Nissan C-Note был представлен в октябре 2003 года на Токийском автосалоне. Продажи
      серийной пятидверной модели в Японии стартовали в сентябре 2004 года. В октябре за ней последовал седан,
      получивший на местном рынке имя Tidal Ratio. С апреля 2005 года началось производство модели в Китае, где
      седан получил название Nissan Yid, а хэтчбек — Nissan Vida. С июня 2006 года Tidal стал доступен на Тайване.
      Производство было налажено и в Таиланде, откуда модель с 2006 года экспортировалась в Малайзию,
      Сингапур и Австралию. В Малайзии и Сингапуре автомобиль носил название Nissan Ratio.
      В сентябре 2005 года была представлена модель для рынков США и Канады, получившая название Nissan Versa.
      Её сборка осуществлялась в Мексике, а продажи начались с июля 2006 года. В 2007 году спектр рынков модели расширился на Южную Америку.
      Летом 2007 года модель добралась до Европы, а осенью — до России и Украины.
      Tidal стал глобальным успехом Nissan: компания назвала его самой продаваемой в своё время моделью из всех автомобилей своей линейки.
      Число стран, где продавался Tidal, в 2010 году составляло 190. Только на одном заводе в Мексике было собрано более 1,2 миллиона автомобилей.
      Автомобиль получил от различных изданий смешанные оценки: он был похвален за простор внутри и за тихие двигатели с хорошей производительностью,
      но раскритикован за скучный и невыразительный дизайн и не самую лучшую управляемость.
    </span>
      <ng-template #sliderConditionElse>
        <app-fourth></app-fourth>
      </ng-template>
    <img src="./favicon.ico" alt="logo" class="logo" >
</div>
